In [4]:
person = {'name': 'Shinbeom', 'age': 30}
print(person.pop('nam','J'))

J

In [5]:
print(person.setdefault('country', 'KOREA'))
print(person)

KOREA
{'name': 'Shinbeom', 'age': 30, 'country': 'KOREA'}

In [9]:
person.setdefault('name')

'Shinbeom'

In [10]:
person

{'name': 'Shinbeom', 'age': 30, 'country': 'KOREA', 'countries': None}

In [39]:
my_set = {'a', 'b', 'c', 1, 2, 3}

my_set.add('d')
print(my_set)
element = my_set.pop()
print(element)

{1, 2, 3, 'b', 'd', 'c', 'a'}
1

In [30]:
element = my_set.pop()
print(element)

1

In [40]:
my_set.discard(10)

In [48]:
print(hash(1))
print(hash('a'))

1
-6680980445975659553

In [55]:
new_lst = []
for num in [1,2,3,3,4,4,5,5,5]:
    if not num in new_lst:
        new_lst.append(num)
new_lst

[1, 2, 3, 4, 5]

In [53]:
if False in new_lst:
    new_lst.append(0)
new_lst

[1, 2, 3, 4, 5]

In [ ]:
def remove_duplicates(dupl_list):
    num_dict = {}
    for key in dupl_list:
        # num_dict[key] = num_dict.get(key, 0) + 1   # get을 활용한 코드
        if key in num_dict:
            num_dict[key] = num_dict[key] + 1
        else:
            num_dict[key] = 1
    return num_dict

In [59]:
sets = {1,2},{3,4},{5,6}
def union_multiple_sets(*sets):
    return sets

In [64]:
new_sets = union_multiple_sets(*sets)
new_sets[0]

{1, 2}

In [72]:
zipped = zip(sets)

In [79]:
d1 = {'x':7}
d2 = {'y':10}
d3 = {**d1,**d2}
d3

{'x': 7, 'y': 10}

In [107]:
dictionary = {'person': {'name': 'Alice', 'age': 25}, 'location': 'NY'}
def find_key(dictionary):
    for key in dictionary.keys():
        if type(dictionary[key]) == dict:
            return list(dictionary.keys()) + find_key(dictionary[key])
    return list(dictionary.keys())

In [108]:
find_key(dictionary)

['person', 'location', 'name', 'age']

In [106]:
['name', 'age'] + ['a','b']

['name', 'age', 'a', 'b']

In [1]:
sets = {1,2},{3,4},{5,6}
def union_multiple_sets(*sets):
    for seet in *sets:
        print(seet)
        print()

SyntaxError: can't use starred expression here (55097190.py, line 3)

In [2]:
{1,2}.union({3,4})

{1, 2, 3, 4}

In [13]:
a = [1,2,3]
print(id(a))
a.clear()
print(id(a))
print(a)
a.append(1)
print(id(a))

1440431981504
1440431981504
[]
1440431981504